{% extends "bootstrap.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block bootstrap5_extra_head %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
{% endblock bootstrap5_extra_head %}

{% block bootstrap5_content %}
{# Some pages will not use the navbar (forms), so we have an if #}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block css %}
    {% endblock %}
</head>

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu" data-dropdown-menu>
            <!-- this is the one responsible for the sheep. -->
            <li><a href="/"><img src="https://img.pokemondb.net/sprites/black-white/anim/shiny/mareep.gif" alt="Mareep"
                        width="25" height="25"></a>
            <li><a href="{% url 'Errands' %}">Errands</a></li>
            <li><a class="nav-link" href="{% url 'Calendar' %}">Calendar</a></li>
            {% block navigation %}
            {% endblock navigation %}
        </ul>
    </div>
</div>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
{% endblock bootstrap5_content %}