{% extends "base.html" %}
{% block content %}

<head>
    {% load static %}
    <script src="{% static 'errands.js' %}"></script>
    <link rel="stylesheet" href="{% static 'errands.css' %}" />

    <style>
        body {
            background-color: #2e2e2d;
        }

        /* Add styles to the table header row */
        th {
            background-color: #2e2e2d;
            font-size: 18px;
            text-align: center;
            padding: 10px;
        }

        /* Add styles to the table data rows */
        td {
            border: none;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }

        /* Add styles to the table container */
        .table-container {
            margin: 0px;
        }

        .btn-primary {
            background-color: #2e2e2d;
            color: #fff;
            border: none;
            text-decoration: none;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <!--Table of errands-->
        </br>
        <h1 style="color: #FFFFFF; font-size: 45px; font-weight: bold; text-align: left;">Upcoming Errands</h1>
        {% if not table_data_todo %}
        <p style="color: #FFFFFF;">
            There are no errands to display.
        </p>
        {% else %}
        <table class="table table-striped" style="background-color: transparent; width: 100%;">

            <tr style="border: none;">
                <th style="color: #FFFFFF;">Errand</th>
                <th style="color: #FFFFFF;">Priority</th>
                <th style="color: #FFFFFF;">Address</th>
                <th style="color: #FFFFFF;">Duration</th>
                <th style="color: #FFFFFF;">Deadline</th>
                <th style="color: #FFFFFF;">Complete</th>
                <th style="color: #FFFFFF;"></th>
            </tr>
            {% for row in table_data_todo %}
            <tr style="border: none;">
                <td style="color: #FFFFFF;">{{ row.title }}</td>
                <td style="color: #FFFFFF;">{{ row.priority }}</td>
                <td style="color: #FFFFFF;">
                    {{ row.streetaddr }}
                    </br>
                    {{ row.city }}, {{ row.state }} {{ zip }}
                </td>
                <td style="color: #FFFFFF;">{{ row.duration }} min</td>
                <td style="color: #FFFFFF;">
                    {{ row.deadline.date }}
                    </br>
                    {{ row.deadline.time }}
                </td>
                <td>
                    <button onclick="toggleErrandStatus('{{ row.id }}', 'no')" class="btn btn-primary"
                        style="border: 1px solid #FFFFFF;padding: 8px 16px;">
                        <a href="/errands/completed/{{ row.id }}" style="color: #FFFFFF; text-decoration: none;">Yes</a>
                    </button>

                </td>

                <td>
                    <a class="btn btn-primary" href="/errands/edit/{{ row.id }}"
                        style="background-color: #2e2e2d; color: #fff; border: 1px solid #fff;padding: 8px 16px;">Edit</a>
                    <a href="{% url 'delete_errand' row.id %}" class="btn btn-primary"
                        style="background-color: #2e2e2d; color: #fff; border: 1px solid #fff;padding: 8px 16px;">Delete</a>
                </td>

            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <div class="row">
            <div class="col-2">
                <form method="GET" action="/errands/add/">
                    <input type="submit" class="btn btn-secondary"
                        style="background-color: transparent; border-color: #fff; padding: 5px 30px; font-size: 1.2em;"
                        value="Add Errand">
                </form>
            </div>
            <div class="col-10" align="right">
                <form method="GET" action="/errands/schedule/">
                    <input type="submit" class="btn btn-secondary"
                        style="background-color: transparent; border-color: #fff; padding: 5px 30px; font-size: 1.2em;"
                        value="Schedule My Errands">
                </form>
            </div>
        </div>
        >>>>>>> Stashed changes
        </br></br></br></br></br>
        <!--Table of completed errands-->
        <h1 style="color: #FFFFFF; font-size: 45px; font-weight: bold; text-align: left;">Completed Errands</h1>
        {% if not table_data_complete %}
        <p style="color: #FFFFFF;">
            Completed errands will be displayed here.
        </p>

        {% else %}
        <table class="table table-striped" style="background-color: transparent; width: 100%;">

            <tr>
                <th style="color: #FFFFFF;">Errand</th>
                <th style="color: #FFFFFF;">Priority</th>
                <th style="color: #FFFFFF;">Address</th>
                <th style="color: #FFFFFF;">Duration</th>
                <th style="color: #FFFFFF;">Deadline</th>
                <th style="color: #FFFFFF;">Complete</th>
                <th style="color: #FFFFFF;"></th>
            </tr>
            {% for row in table_data_complete %}
            <tr>
                <td style="color: #FFFFFF;">{{ row.title }}</td>
                <td style="color: #FFFFFF;">{{ row.priority }}</td>
                <td style="color: #FFFFFF;">
                    {{ row.streetaddr }}
                    <br>
                    {{ row.city }}, {{ row.state }} {{ zip }}
                </td>
                <td style="color: #FFFFFF;">{{ row.duration }} min</td>
                <td style="color: #FFFFFF;">
                    {{ row.deadline.date }}
                    <br>
                    {{ row.deadline.time }}
                </td>
                <td>
                    <button onclick="toggleErrandStatus('{{ row.id }}', 'yes')" class="btn btn-primary"
                        style="border: none; border: 1px solid #FFFFFF; padding: 8px 16px;">
                        <a href="/errands/completed/{{ row.id }}" style="color: #FFFFFF; text-decoration: none;">No</a>
                    </button>


                </td>
                <td>
                    <a class="btn btn-primary" href="/errands/edit/{{ row.id }}/"
                        style="background-color: #2e2e2d; color: #fff; border: 1px solid #fff;padding: 8px 16px;">Edit</a>
                    <a href="{% url 'delete_errand' row.id %}" class="btn btn-primary"
                        style="background-color: #2e2e2d; color: #fff; border: 1px solid #fff;padding: 8px 16px;">Delete</a>
                </td>



            </tr>
            {% endfor %}
        </table>

        <p style="color: #FFFFFF;">
            Editing a completed errand will push it back up into the "To do" errand list.
        </p>
        {% endif %}

    </div>
    <!-- Modal -->
    <div id="deleteModal" class="modal fade" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title">Delete Errand</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this Errand?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <span id='deleteButton'></span>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}